
.buttons{
    border: none;
    padding: 20px;
}

.text{
    border: nome;
    margin-bottom: 20px;
}

.pulse {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  