/* gameover.css */
#gameover {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

#gameover h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.score {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}

#gameover img.gameover-image {
  margin: 20px auto;
  height: 150px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.restart-button,
.home-button {
  background-color: #8435de;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restart-button:hover,
.home-button:hover {
  background-color: #6b2fbc;
}
