.option {
    background-color: #72DBD3;
    border-radius: 0.5rem;
    border: 2px solid #261833;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
  }
  
  .option:hover {
    opacity: 1;
  }
  
  #options-container .option p {
    margin-bottom: 0;
  }
  
  .correct {
    background-color: #67DB90;
    font-weight: bold;
  }
  
  .wrong {
    background-color: #DB8B88;
    opacity: 0.5;
  }
  
  .hide {
    display: none;
  }