@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body, html {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(to bottom, #FFF18C, #C1FFB0, #71DBD2);
}



img{
  max-width: 100;
}
