@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body,html{
  min-height: 100vh;
  height: 100%;
  background: linear-gradient( #FFF18C, #DDEAA3, #ADE4B5, #71DBD2);
}

img{
  max-width: 100;
}
