.container{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    text-align: center;
    color: rgb(162, 105, 216);
}

.sidebar{
    position: fixed;
}